# Basics
- variable
- input
- ouput

In [2]:
x = 1.90
y = "lucknow"

In [4]:
a = [1, 2, 3, 4]
b = {'name': 'raju', 'age': 12}

In [3]:
x

1.9

In [6]:
name = input("enter your name")

In [10]:
city = input("enter your city")
fav_movie = input("enter your fav movie")
fav_color = input("enter your fav color")

In [9]:
num1 = input("enter a number A")
num2 = input("enter a number B")

## displaying data

In [2]:
print('Welcome to Displaying Data') # static message to display

Welcome to Displaying Data

In [3]:
a = 'Alex'
b = 'Baron'
print(a) # display the value of a
print(b) # display the value of b

Alex
Baron

In [5]:
print(a, b)
print(a, a, a, a)

Alex Baron
Alex Alex Alex Alex

In [8]:
name = input('enter your name')
print('Your name is', name)

Your name is Hariom

In [9]:
num1 = input('enter a number')
num2 = input('enter another number')
print('The first num is', num1, 'and the second num is', num2)

The first num is 12 and the second num is 45

In [11]:
print('The first num is', num1)
print()
print('and the second num is', num2)

The first num is 12

and the second num is 45

`displaying data with messages`

1. comma seperated âœ…
2. format string
3. format method
4. string concatenation
5. f-string

In [19]:
# format string
a, b, c = 5, 3.2, "Hello" # multiple assignment
print("the values are %d, %f, %s" % (a, b, c)) # %d = int, %f = float, %s = string
print("the values are %s, %d, %f" % (c, a, b)) 
print("the values are %s, %s, %s" % (c, a, b))

the values are 5, 3.200000, Hello
the values are Hello, 5, 3.200000
the values are Hello, 5, 3.2

In [28]:
# format method
print('the value of a=>{}, b=>{}, c=>{}'.format(a,b,c))

the value of a=>5, b=>3.2, c=>Hello

In [36]:
# string concatenation
print('Hello' + 'World')
print('the value of a=' + str(a))
print('the value of c=' + c)
print('the value of b=' + str(b))

HelloWorld
the value of a=5
the value of c=Hello
the value of b=3.2

In [38]:
# f-string
print(f'the value of a=>{a}, b=>{b}, c=>{c}')

the value of a=>5, b=>3.2, c=>Hello

### f-string setting

In [47]:
# formatting values
a,b = 10,3
print(f'{a}/{b} = {a/b}')
print(f'{a}/{b} = {a/b:.2f}') # .2f = 2 decimal places

10/3 = 3.3333333333333335
10/3 = 3.33

In [60]:
# alignment
name = 'Alex'
print(f'Your are {name}')
print(f'Your are {name:10}') # 10 here is number of characters for display 
print(f'Your are {name:>10}') # right alignment
print(f'Your are {name:^10}') # center alignment

Your are Alex
Your are Alex
Your are       Alex
Your are    Alex

In [59]:
a,b,c,d ='Apple', 'Blueberry', 'Cherry', 'Dragonfruit'
print(f'ðŸŽ fruit 1: {a:>11}')
print(f'ðŸ‡ fruit 2: {b:>11}')
print(f'ðŸ’ fruit 3: {c:>11}')
print(f'ðŸ‰ fruit 4: {d:>11}')

ðŸŽ fruit 1:       Apple
ðŸ‡ fruit 2:   Blueberry
ðŸ’ fruit 3:      Cherry
ðŸ‰ fruit 4: Dragonfruit